name: Docker Sync
on: [push]
jobs:
  save:
    runs-on: ubuntu-latest
    steps:
      - name: Download and Save Image
        run: |
          docker pull --platform linux/arm64 redis:8.6.0-alpine
          docker save redis:8.6.0-alpine -o redis-8.6.0-arm64.tar
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: redis-image
          path: redis-8.6.0-arm64.tar
