name: Docker Sync Professional
on: [push]
jobs:
  transfer:
    runs-on: ubuntu-latest
    steps:
      - name: Install Skopeo
        run: |
          sudo apt-get update
          sudo apt-get install -y skopeo

      - name: Copy Image from DockerHub to Local Tar
        run: |
          # skopeo copy [源镜像] [目标文件]
          # --override-os linux --override-arch arm64 强制指定架构
          # docker-archive: 表示导出的格式可以直接被 docker load 加载
          skopeo copy \
            --override-os linux \
            --override-arch arm64 \
            docker://docker.io/library/redis:8.6.0-alpine \
            docker-archive:redis-8.6.0-arm64.tar:redis:8.6.0-alpine

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: redis-8.6.0-arm64
          path: redis-8.6.0-arm64.tar
