name: Docker Sync
on: [push]
jobs:
  save-image:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Pull and Save ARM64 Image
        run: |
          # 1. 使用 buildx 将镜像拉取并直接导出为本地文件，避开 daemon 的 manifest 限制
          docker buildx create --use
          docker buildx build --platform linux/arm64 \
            --output type=docker,dest=redis-8.6.0-arm64.tar \
            "docker.io/library/redis:8.6.0-alpine"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: redis-image-package
          path: redis-8.6.0-arm64.tar
